
html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
      
#wrap {

  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

#wrap > .container {

  padding-top: 90px;
}
.container .credit {
  margin: 0 auto;
  margin: 20px 0;
}


/* Navbar */
.navbar-inner {
  background-color: #000;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 60px;
}

#footer {
  background-color: #000;
}
.work {text-align: right;}
.bringin {padding: 0 0 0 5%;}
.sizes {  padding: 0 15% 0 0;}
.port{ width:100%; height:auto; background-color: #000;}
/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

